* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-primary: #111010;
  --bg-secondary: #dddddd;
  --color-primary: #fdfdfdfd;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
